/*** SPOTIFY SECTION ***/

.spotify-section{
    height: 500px;
    background-color: #131416;
    display: flex;
    align-items: center;

    @include mq(medium){
        height: auto;
    }

    .spotify-section__container{
        padding: 2% 15%;
        @include flex-center-center;

        @include mq(medium){
            flex-direction: column-reverse;
            padding: 5rem 10%;
        }

        @include mq(small){
            padding: 5rem 10%;
        }

        .spotify-section__image{
            height: 350px;
            width: 350px;

            @include mq(large){
                height: 270px;
                width: 270px;
            }

            @include mq(medium){
                display: none;
            }

            img{
                @include wh-100;
            }
        }

        .spotify-section__text{
            width: 50%;
            margin-left: 50px;
            color: $color--white-1;
            position: relative;

            @include mq(large){
                width: 60%;
            }

            @include mq(medium){
                width: 80%;
                margin: 0;
            }

            @include mq(small){
                width: 100%;
            }

            h1{
                margin-bottom: 15px;
                font-size: 27px;

                @include mq(xsmall){
                    font-size: 22px;
                }
            }

            p{
                margin-bottom: 15px;
            }

            .spotify-section__text--spotify{
                font-family: 'Gotham';
                color: #1ed760;
                font-weight: 400;

                i{
                    margin-right: 2px;
                }
            }

            ul{
                padding-left: 35px;

                .spotify-section__text--span{
                    color: $color--light-grey-1;
                    font-size: 14px;
                }
            }

            .spotify-section__text--top{
                position: absolute;
                top: -30px;
                right: -60px;

                @include mq(large){
                    display: none;
                }
            }
        }
    }
}



