/*** ABOUT US SECTION ***/

.about-section{
    background-color: #00acee;
    padding: 7rem 10%;

    .container{
        .row{

            .col-sm-12{
                h2{
                    margin-bottom: 3%;
                    font-weight: 700;
                }

                p{
                    margin-bottom: 5%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .about-section__info--btn{
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding: 1rem 1.5rem;
                    background-color: #222;
                    color: #f4f4f4;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: all .4s ease;
                    border: 1px solid #222;

                    &:hover{
                        color: #222;
                        background-color: transparent;
                    }
                }
            }

            .col{
                .about-section__image{
                    @include wh-100;

                    img{
                        @include wh-100;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}