/*** CONTACT SECTION ***/

.contact-section{
    background-color: #a7a7a7;
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;

    form{
        display: grid;
        grid-template-columns: repeat(2,45%);
        justify-content: center;
        gap: 1rem;

        input{
            padding: 1rem 1rem;
        }

        #edad{
            grid-column-start: 1;
        }

        #contenido{
            grid-column-start: 1;
            grid-column-end: 3;
        }

        #enviar{
            grid-column-start: 1;
        }
    }
}