/*** CONTACT SECTION ***/

.contact-section{
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;

    .contact-section__btn{
        background-color: $color--dark-grey-2;
        color: $color--white-1;
        height: 50px;
    }
}