/*** FOOTER ***/

footer{
    height: auto;
    background-color: $color--dark;

    .footer-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 1% 0;

        .footer-content__social-media{
            ul{
                display: flex;
                justify-content: center;
                gap: 15px;
                list-style: none;
                padding: 1.5rem;
                color: $color--white-1;

                a{
                    &:nth-child(1){
                        background-color: #3b5998;
                    }
                    &:nth-child(2){
                        background: #d6249f;
                        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                    }
                    
                    &:nth-child(3){
                        background-color: #e52d27;
                    }
                    
                    &:nth-child(4){
                        background-color: #00acee;
                    }
                    
                    &:nth-child(5){
                        background-color: #1ed760;
                    }
                }
                
            }

            .footer-content__social-media--icons{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                color: $color--white-1;
                text-decoration: none;
                transition: all .5s ease;

                i{
                    font-size: 22px;
                }

                &:hover{
                    transform: scale(1.1);
                }
            }
        }

        .footer-content__divider{
            color: $color--light-grey-1;
            width: 70%;
            margin: 0 auto;
            border: 1px solid $color--light-grey-1;
        }

        .footer-content__info{
            margin: 0 auto;
    
            .footer-content__info--menu{
                list-style: none;
                /* display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px; */
                padding: 1.5rem;
    
                a{
                    display: inline-block;
                    margin-right: 20px;
                    text-decoration: none;
                    color: $color--light-grey-1;
                    transition: all .4s ease;
                    text-transform: uppercase;
                    font-family: 'Fredoka', sans-serif;
    
                    &:last-child(){
                        margin-right: 0;
                    }
    
                    &:hover{
                        color: $color--white-1;
                    }
                }
            }
        }
    }

    .copyright-section{
        width: 100%;
        padding: 10px 0;
        background-color: $color--dark-grey-1;
        color: #575656;
        text-align: center;
        font-size: 14px;

        a{
            text-decoration: none;
            color: $color--light-grey-2;
            transition: all .4s ease;
        }
    }
}