/*** NAVBAR ***/

.navbar{
    height: 80px;
    background-color: $color--dark;
    font-family: 'Fredoka', sans-serif;
    padding: 0;

    .navbar-container{
        @include flex-between-center;
        width: 70%;
        margin-inline: auto;

        .navbar-logo{
            height: 100%;

            a{
                &:focus{
                    border: none;
                }
            }

            img{
                height: 100%;
            }
        }

        .navbar-menu{
            @include flex-center-center;
            list-style: none;
            gap: 15px;

            .navbar-item{
                a[data-type='navbar-active']{
                    color: $color--white-1;
                }
            }

            .navbar-link{
                font-size: clamp(1rem, 1.5vw, 1.125rem);
                text-decoration: none;
                text-transform: uppercase;
                color: $color--light-grey-1;
                transition: all .3s ease;

                &:hover{
                    color: $color--white-1;
                } 
            }
        }

        .navbar-btn{
            display: none;
            border: none;
            background-color: transparent;
            color: $color--white-1;
            cursor: pointer;

            i{
                font-size: 22px;
            }
        }
    }
}

/*** HERO ***/

.hero{
    height: 60vh;
    margin-bottom: 2%;

    img{
        @include wh-100;
        object-fit: cover;
        filter: brightness(0.6);
    }
}

/*** HOMEPAGE BANNER ***/

.homepage-banner{
    height: calc(100vh - 80px);
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    @include flex-between-center;
    flex-direction: column;

    .homepage-banner__content{
        color: $color--white-1;
        display: flex;
        flex-direction: column;
        padding-block: 20%;

        h1{
            font-size: clamp(3.125rem, 5vw, 6rem);
            text-transform: uppercase;
        }

        .homepage-banner__content--btn{
            display: block;
            height: 50px;
            width: 50px;
            padding: 1rem;
            color: $color--white-1;
            text-decoration: none;
            border: 1px solid $color--white-1;
            border-radius: 50%;
            display: grid;
            justify-content: center;
            align-content: center;
            margin: 0 auto;
            transition: all .3s ease;

            &:hover{
                background-color: $color--white-1;
                color: $color--dark;
            }
        }
    }
}

.carousel{
    .carousel-inner{
        .carousel-item{
            .carousel__image{
                width: 100%;
                height: calc(100vh - 80px);
                object-fit: cover;
                filter: brightness(0.5);
            }

            .carousel-caption{
                bottom: calc(50vh - 80px);
            }
        }
    }
}



