/*** MEDIA QUERIES ***/

/* 1600px */

@media (max-width: 1600px){
    .discography-section{
        grid-template-columns: repeat(3, 270px);
        gap: 1.5rem;
    }
}

/* 1400px */

@media (max-width: 1400px){
    .navbar{
        .navbar-container{
            width: 80%;
        }
    }
    .members-section{
        .members-section__member{
            align-items: center;
        }
    }
}

/* 1200px */

@media (max-width: 1200px){
    .about-section{
        .container{
            .col-sm-12{
                .main_btn{
                    font-size: .75rem;
                }
            }
        }
    }
    .spotify-section{
        .spotify-section__container{
            .spotify-section__image{
                height: 270px;
                width: 270px;
            }
            .spotify-section__text{
                width: 60%;

                .spotify-section__text--top{
                    display: none;
                }
            }
        }
    }
    .discography-section{
        grid-template-columns: repeat(3, 250px);
        gap: 1rem;

        .discography-section__card{
            height: 250px;
            width: 250px;
        }
    }
    .members-section{
        .members-section__member{
            flex-direction: column-reverse;
            padding: 1.5rem;

            &:nth-child(2),
            &:nth-child(4){
                flex-direction: column;
            }

            .members-section__member--info,
            .members-section__member--image{
                width: 100%;
                margin: 0;
            }
        }
    }
}

/* 1023px */

@media (max-width: 1023px){
    .navbar{
        height: 60px;

        .navbar-container{
            width: 90%;
            height: 100%;
        }
    }
    .carousel{
        .carousel-inner{
            .carousel-item{
                .carousel__image{
                    height: calc(100vh - 60px);
                }
    
                .carousel-caption{
                    bottom: calc(50vh - 80px);
                }
            }
        }
    }
    .last-news-section{
        .last-news-section__container{
            grid-template-columns: repeat(2, 300px);
            gap: 20px;
    
            div{
                &:nth-child(4){
                    width: 300px;
                    grid-column-end: 2;
                }
    
                &:nth-child(3){
                    grid-column-start: 1;
                    grid-column-end: 3;
                    width: 100%;
                }
            }
        }
    }
    .about-section{
        padding: 4rem 20%;

        .container{
            flex-direction: column-reverse;
            gap: 0;
            height: 100%;
        }
    }
    .spotify-section{
        height: auto;

        .spotify-section__container{
            flex-direction: column-reverse;
            padding: 5rem 10%;

            .spotify-section__text{
                width: 80%;
                margin: 0;
            }

            .spotify-section__image{
                display: none;
            }
        }
    }
    .site-page{
        width: 80%;
        margin: 3rem auto;

        .site-page__title{
            font-size: 32px;
        }
    }
    .discography-section{
        grid-template-columns: repeat(3, 200px);
        gap: 1rem;

        .discography-section__card{
            height: 200px;
            width: 200px;
        }
    }
    .news-section{
        .news-section__article{
            width: 100%;
            padding: 1.5rem;
    
            .news-section__header{
                .news-section__header--image{
                    width: 100%;
                }
            }
        }
    }
    .contact-section{
        padding: 0;
    }
}

/* 763px */

@media (max-width: 763px){
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;

        .navbar-container{
            width: 90%;
    
            .navbar-menu{
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                padding: 0;
                height: 100vh;
                width: 100%;
                background-color: $color--dark;
                flex-direction: column;
                gap: 2.5rem;
                z-index: 9999;

                .navbar-link{
                    font-size: 1.125rem;
                }
            }
    
            .navbar-btn{
                display: block;
            }
        }
    }
    .hero{
        height: 20vh;
    }
    .carousel{
        margin-top: 60px;
    }
    .site-page{
        width: 90%;

        .site-page__title{
            font-size: 28px;
        }
    }
    .discography-section{
        grid-template-columns: repeat(2, 200px);
        gap: 10px;
    }
    .about-section{
        padding: 3rem 10%;
    }
    .last-news-section{
        padding: 4rem 15%;

        .last-news-section__title{
            font-size: 26px;
            margin-bottom: 2rem;
        }

        .last-news-section__container{
            grid-template-columns: 1fr;
            grid-auto-rows: auto;

            div{
                &:nth-child(3){
                    grid-column-start: 1;
                    grid-column-end: 2;
                    width: 300px;
                }
            }
        }
    }
    .spotify-section{
        .spotify-section__container{
            padding: 5rem 10%;
    
            .spotify-section__text{
                width: 100%;
            }
        }
    }
    .news-section{
        .news-section__article{
            padding: .5rem;
            padding-top: 1rem;
        }
    }
}

/* 480px */

@media (max-width: 480px){
    .spotify-section{
        .spotify-section__container{
            .spotify-section__text{
                h1{
                    font-size: 22px;
                }
            }
        }
    }
    .discography-section{
        grid-template-columns: 300px;

        .discography-section__card{
            height: 300px;
            width: 300px;
        }
    }
    footer{
        .copyright-section{
            p{
                margin: 0 auto;
                width: 80%;
            }
        }
    }
}