/*** NEWS SECTION ***/

.news-section{
    padding-bottom: 1%;
    margin: 0 auto;

    .news-section__article{
        width: 95%;
        margin: 0 auto;
        padding: 2rem;
        border-bottom: 1px solid $color--light-grey-2;

        &:last-child{
            border-bottom: none;
        }

        .news-section__header{
            margin-bottom: 1em;

            .news-section__header--title{
                margin-bottom: 1em;
                font-size: 24px;
            }

            .news-section__header--image{
                width: 80%;
                margin: 0 auto;
                margin-bottom: 1.5rem;

                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .news-section__content{
            p{
                margin-bottom: 2%;
            }
        }

        .news-section__footer{
            width: 70%;
            margin: 0 auto;
        }
    }
}










