/*** SPOTIFY SECTION ***/

.spotify-section{
    height: 500px;
    background-color: #131416;
    display: flex;
    align-items: center;

    .spotify-section__container{
        padding: 2% 15%;
        @include flex-center-center;

        .spotify-section__image{
            height: 350px;
            width: 350px;

            img{
                @include wh-100;
            }
        }

        .spotify-section__text{
            width: 50%;
            margin-left: 50px;
            color: $color--white-1;
            position: relative;

            h1,
            p{
                margin-bottom: 15px;
            }

            .spotify-section__text--spotify{
                font-family: 'Gotham';
                color: #1ed760;
                font-weight: 400;

                i{
                    margin-right: 2px;
                }
            }

            ul{
                padding-left: 35px;

                .spotify-section__text--span{
                    color: $color--light-grey-1;
                    font-size: 14px;
                }
            }

            .spotify-section__text--top{
                position: absolute;
                top: -30px;
                right: -60px;
            }
        }
    }
}



