/*** NAVBAR ***/

.navbar{
    height: 80px;
    background-color: $color--dark;
    font-family: 'Fredoka', sans-serif;
    padding: 0;

    @include mq(medium){
        height: 60px
    }

    @include mq(small){
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }

    &-container{
        @include flex-between-center;
        width: 70%;
        margin-inline: auto;

        @include mq(xlarge){
            width: 80%;
        }

        @include mq(medium){
            width: 90%;
            height: 100%;
        }

        @include mq(small){
            width: 90%;
        }

        .navbar-logo{
            height: 100%;
            z-index: 99999;

            a{
                &:focus{
                    border: none;
                }
            }

            img{
                height: 100%;
            }
        }

        .navbar-menu{
            @include flex-center-center;
            list-style: none;
            gap: 15px;

            @include mq(small){
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                padding: 0;
                height: 100vh;
                width: 100%;
                background-color: $color--dark;
                flex-direction: column;
                gap: 2.5rem;
                z-index: 9999;
                animation: fadeIn linear .4s;
            }

            .navbar-item{
                a[data-type='navbar-active']{
                    color: $color--white-1;
                }
            }

            .navbar-link{
                font-size: clamp(1rem, 1.5vw, 1.125rem);
                text-decoration: none;
                text-transform: uppercase;
                color: $color--light-grey-1;
                transition: all .3s ease;

                @include mq(small){
                    font-size: 1.125rem;
                }

                &:hover{
                    color: $color--white-1;
                } 
            }
        }

        .navbar-btn{
            display: none;
            border: none;
            background-color: transparent;
            color: $color--white-1;
            cursor: pointer;

            @include mq(small){
                display: block;
            }

            i{
                font-size: 22px;
            }
        }

        #btn-toggle-close{
            display: none;
            z-index: 99999;
        }
    }
}

/*** HERO ***/

.hero{
    height: 60vh;
    margin-bottom: 2%;

    @include mq(small){
        height: 40vh;
        margin-top: 60px;
    }

    @include mq(xsmall){
        height: 20vh;
    }

    img{
        @include wh-100;
        object-fit: cover;
        filter: brightness(0.6);
    }
}


.carousel{
    @include mq(small){
        margin-top: 60px;
    }
    .carousel-inner{
        .carousel-item{
            .carousel__image{
                width: 100%;
                height: calc(100vh - 80px);
                object-fit: cover;
                filter: brightness(0.5);

                @include mq(medium){
                    height: calc(70vh - 60px);
                }
            }

            .carousel-caption{
                bottom: calc(50vh - 80px);

                @include mq(medium){
                    bottom: calc(35vh - 60px);
                }
            }
        }
    }
}



