/*** NEWS SECTION ***/

.news-section{
    padding-bottom: 1%;
    margin: 0 auto;

    &-article{
        width: 95%;
        margin: 0 auto;
        padding: 2rem;
        border-bottom: 1px solid $color--light-grey-2;

        @include mq(medium){
            width: 100%;
            padding: 1.5rem;
        }

        @include mq(small){
            padding: .5rem;
            padding-top: 1rem;
        }

        &:last-child{
            border-bottom: none;
        }

        &__header{
            margin-bottom: 1em;

            &--title{
                margin-bottom: 1em;
                font-size: 24px;
            }

            &--image{
                width: 80%;
                margin: 0 auto;
                margin-bottom: 1.5rem;

                @include mq(medium){
                    width: 100%;
                }

                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        &__content{
            p{
                margin-bottom: 2%;
                color: $color--dark-grey-3;
            }
        }

        &__footer{
            width: 70%;
            margin: 0 auto;
        }
    }
}










