/*** VARIABLES ***/

/* Colours */
$color--white-1: #fff;
$color--white-2: #f4f4f4;
$color--dark: #000;
$color--dark-grey-1: #222;
$color--dark-grey-2: #252525;
$color--dark-grey-3: #474747;
$color--light-grey-1: #5c5c5c;
$color--light-grey-2: #d1d1d1;